.saved,
.saved * {
  box-sizing: border-box;
}
.saved {
  background: #ffffff;
  height: 926px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.home-indicator {
  width: 393px;
  height: 34px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0px;
}
.home-indicator2 {
  background: var(--000000, #000000);
  border-radius: 100px;
  width: 134px;
  height: 5px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
.vector {
  width: 458.26%;
  height: 66.26%;
  position: absolute;
  right: -125.12%;
  left: -233.14%;
  bottom: 81.24%;
  top: -47.5%;
  transform: translate(997.84px, 439.87px);
  overflow: visible;
}
.top-status-bar {
  height: 52px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.notch {
  position: absolute;
  inset: 0;
}
.right-side {
  position: absolute;
  inset: 0;
}
.battery {
  width: 24.33px;
  height: 11.33px;
  position: absolute;
  right: 14.34px;
  top: 20px;
  overflow: visible;
}
.wifi {
  width: 15.27px;
  height: 10.97px;
  position: absolute;
  left: 369.03px;
  top: 20px;
  overflow: visible;
}
.mobile-signal {
  width: 17px;
  height: 10.67px;
  position: absolute;
  left: 347px;
  top: 20.34px;
  overflow: visible;
}
.left-side {
  height: auto;
  position: absolute;
  left: 3px;
  top: 16px;
  overflow: visible;
}
.group-30 {
  position: absolute;
  inset: 0;
}
.rectangle-23 {
  background: #d9d9d9;
  width: 325px;
  height: 50px;
  position: absolute;
  left: 12px;
  top: 95px;
}
.image-14 {
  width: 32px;
  height: 30px;
  position: absolute;
  left: 17px;
  top: 105px;
  object-fit: cover;
  aspect-ratio: 32/30;
}
.image-142 {
  width: 62px;
  height: 51px;
  position: absolute;
  left: 351px;
  top: 94px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 62/51;
}
.deliver-to {
  color: #000000;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 202px);
  top: 43px;
  width: 380px;
}
.image-54 {
  width: 50px;
  height: 48px;
  position: absolute;
  left: 355px;
  top: 36px;
  object-fit: cover;
  aspect-ratio: 50/48;
}
.recent {
  color: #000000;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 181px;
  width: 120px;
  height: 38px;
  -webkit-text-stroke: 1px #000000;
}
.suggested {
  color: #000000;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 149px;
  top: 181px;
  width: 169px;
  height: 38px;
  -webkit-text-stroke: 1px #000000;
}
.saved2 {
  color: #000000;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 330px;
  top: 181px;
  width: 98px;
  height: 38px;
  -webkit-text-stroke: 1px #000000;
}
.group-3611 {
  position: absolute;
  inset: 0;
}
.union {
  width: 428px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 839px;
  overflow: visible;
}
.group-3608 {
  width: 90.42%;
  height: 3.2%;
  position: absolute;
  right: 4.68%;
  left: 4.91%;
  bottom: 1.76%;
  top: 95.03%;
  overflow: visible;
}
.group-3609 {
  width: 203.14px;
  height: 30.52px;
  position: absolute;
  left: 112px;
  top: 879px;
  overflow: visible;
}
.image-19 {
  border-radius: 6.72px;
  width: 61.86px;
  height: 59px;
  position: absolute;
  left: 183px;
  top: 912px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  backdrop-filter: blur(0.29px);
  object-fit: cover;
  aspect-ratio: 61.86/59;
}
.whats-app-image-2025-03-05-at-03-27-52-2-ce-30-a-7-d-1 {
  width: 397px;
  height: 605px;
  position: absolute;
  left: 15px;
  top: 234px;
  object-fit: cover;
  aspect-ratio: 397/605;
}
.image-17 {
  width: 79px;
  height: 75px;
  position: absolute;
  left: 352px;
  top: 289px;
  object-fit: cover;
  aspect-ratio: 79/75;
}
.click-here-to-use-maps {
  color: #000000;
  text-align: left;
  font-family: "Lexend-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 14px;
  top: 804px;
  width: 397px;
  height: 35px;
}
