:root {
    --lexend-font-family: Lexend-SemiBold, sans-serif;
    --lexend-font-size: 48px;
    --lexend-line-height: normal;
    --lexend-font-weight: 600;
    --lexend-font-style: normal;
    --dm-sans-font-family: DmSans-Regular, sans-serif;
    --dm-sans-font-size: 18px;
    --dm-sans-line-height: normal;
    --dm-sans-font-weight: 400;
    --dm-sans-font-style: normal;
}
  